.come-in-bottom {
  transform: translateY(150px);
  animation: come-in-bottom 0.8s ease forwards;
}
.come-in-bottom:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in-bottom {
  to { transform: translateY(0);}
}

.come-in-right {
  transform: translateX(150px);
  animation: come-in-right 0.8s ease forwards;
}

@keyframes come-in-right {
  to { transform: translateX(0); }
}

.come-in-left {
  transform: translateX(-150px);
  animation: come-in-left 0.8s ease forwards;
}

@keyframes come-in-left {
  to { transform: translateX(0); }
}

.already-visible
{
	transform: translateX(0);
	transform: translateY(0);
}